*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  scroll-behavior: smooth;

  @include respond(tab-land) {
    // width < 1200?
    font-size: 59%; //1 rem =
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 56%; //1 rem =
  }

  @include respond(big-desktop) {
    font-size: 65%; //1rem =
  }
}

body {
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Source Sans Pro', sans-serif;
  
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

input:focus,
button:focus,
a:focus,
textarea:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: none;
}

p > a {
  text-decoration: underline;
  transition-duration: 350ms;

}
p > a:link {
  color: $themeClrPrimary;
}
p > a:visited {
  color: $themeClrPrimary;
}
p > a:hover {
  color: #00de07;
  transition-duration: 350ms;
}
p > a:active {
  color: $themeClrSecondary;
}

code {
  font-family: Consolas,"courier new";
  color: $themeClrPrimaryLight;
  background-color: #1f1f1f;
  padding: .5rem 1rem;
  border-radius: 4px;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

#get-in-touch-btn {
  margin-top: 4rem;
}
