.heading-primary {
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: right;
  @include respond(phone) {
    font-size: 4rem;
    
  }
}

.heading-perm {
  font-family: $permanent-marker;
  font-size: 6rem;
  // text-transform: uppercase;
  letter-spacing: 3px;
  text-align: right;
  @include respond(phone) {
    font-size: 4rem;
    
  }
}

.heading-sec {
  &__mb-bg {
    margin-bottom: 11rem;
    @include respond(tab-port) {
      margin-bottom: 8rem;
    }
  }

  &__mb-med {
    // margin-bottom: 9rem;
    @include respond(tab-port) {
      margin-bottom: 8rem;
    }
  }

  &__main {
    display: block;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 4rem;
    position: relative;
    &--lt {
      color: #fff;
      &::after {
        content: '';
        background: #fff !important;
      }
    }
    &::after {
      content: '';
      position: absolute;
      top: calc(100% + 1.5rem);
      height: 5px;
      width: 3rem;
      background: $themeClrPrimary;
      left: 50%;
      transform: translateX(-50%);
      border-radius: $commonBorderRadius;

      @include respond(phone) {
        top: calc(100% + 1.2rem);
      }
    }
  }

  &__sub {
    display: block;
    text-align: left;
    color: #777;
    font-size: 2rem;
    font-weight: 500;
    max-width: 80rem;
    margin: auto;
    // margin-top: 1rem;
    // margin-bottom: 1rem;
    line-height: 1.6;

    @include respond(phone) {
      font-size: 1.8rem;
    }

    &--lt {
      color: #eee;
    }
  }
}

.heading-sm {
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main-container {
  max-width: 120rem;
  margin: auto;
  width: 92%;
}

.btn {
  background: #fff;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 700;
  border-radius: $commonBorderRadius;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform .3s;

  &:hover {
    transform: translateY(-3px);
  }

  &--bg {
    background-color: $themeClrPrimary;
    padding: 1.5rem 8rem;
    font-size: 2rem;
  }
  &--med {
    padding: 1.5rem 5rem;
    font-size: 1.6rem;
  }
  &--theme {
    background: $themeClrPrimary;
    color: #fff;
  }
  &--theme-inv {
    color: $themeClrPrimary;
    background: #fff;
    border: 2px solid $themeClrPrimary;
    box-shadow: none;
    padding: calc(1.5rem - 2px) calc(5rem - 2px);
  }
  &--center {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }
}

.sec-pad {
  padding: 9rem 0 6rem 0;
  @include respond(tab-port) {
    padding: 9rem 0 1rem 0;
  }
}
// .sec-pad-before {
//   padding: 12rem 0 0 0;
//   @include respond(tab-port) {
//     padding: 8rem 0 0 0;
//   }
// }
// .sec-pad-after {
//   padding: 0 0 12rem 0;
//   @include respond(tab-port) {
//     padding: 0 0 8rem 0;
//   }
// }

.text-primary {
  color: #fff;
  font-size: 2.2rem;
  text-align: right;
  width: 100%;
  line-height: 1.6;

  @include respond(phone) {
    font-size: 2rem;
  }
}


.d-none {
  opacity: 0;
  transition: .4s;
}



.tg-list {
	text-align: center;
	display: flex;
	justify-content: center;
}

.tg-list-item {
	margin: 1rem 2em 3rem 2rem;
}

.tgl {
	display: none;
  
	// add default box-sizing for this scope
	&,
  &:after,
  &:before,
	& *,
  & *:after,
  & *:before,
	& + .tgl-btn {
		box-sizing: border-box;
		&::selection {
			background: none;
		}
	}
  
	+ .tgl-btn {
		outline: 0;
		display: block;
		width: 10em;
		height: 2em;
		position: relative;
		cursor: pointer;
    user-select: none;
		&:after,
    &:before {
			position: relative;
			display: block;
			content: "";
			width: 50%;
			height: 100%;
		}
    
		&:after {
			left: 0;
		}
    
		&:before {
			display: none;
		}
	}
  
	&:checked + .tgl-btn:after {
		left: 50%;
	}
}

.tgl-skewed {
	+ .tgl-btn {
		overflow: hidden;
		transform: skew(-10deg);
		backface-visibility: hidden;
		transition: all .2s ease;
		font-family: sans-serif;
		background: #888;
		&:after,
    &:before {
			transform: skew(10deg);
			display: inline-block;
			transition: all .2s ease;
			width: 100%;
			text-align: center;
			position: absolute;
			line-height: 2em;
			font-weight: bold;
			color: #fff;
			text-shadow: 0 1px 0 rgba(0,0,0,.4);
		}
    
		&:after {
			left: 100%;
			content: attr(data-tg-on);
		}
    
		&:before {
			left: 0;
			content: attr(data-tg-off);
		}
    
		&:active {
			background: #888;
			&:before {
				left: -10%;
			}
		}
	}
  
	&:checked + .tgl-btn {
    background: $themeClrPrimary;
    &:before {
      left: -100%;
    }

    &:after {
      left: 0;
    }

    &:active:after {
      left: 10%;
    }
	}
}